/* LostPetList.css */
p{
    margin-bottom: 12px!important;
}
.card-content{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.box {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1.5rem;
  }
  
  .columns.is-mobile .column {
    padding: 0.75rem;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image .image {
    overflow: hidden;
  }
  
  .no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
  }
  
  .content p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  .control {
    margin-bottom: 0px;
  }

  .has-text-centered {
    text-align: center !important;
  }
  
  /* 微調 Checkbox Button 樣式 */
  
  .buttons .button input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

.lost-pet-list .button.is-info, .lost-pet-list .button.is-primary, .lost-pet-list .button.is-success {
    margin-top: 0;
}

.lost-pet-list .control.choice-btns button{
    width: 45%;
}

/* 分組卡片的疊牌效果 */
.grouped-card {
  position: relative;
  z-index: 1;
}

.grouped-card::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  background: hsl(221, 14%, 98%);
  z-index: -1;
  border-radius: 10px;
}

.grouped-card:hover::before {
  transform: translateY(-5px);
  transition: transform 0.4s ease;
}

.grouped-card::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  background: #eef0f3;
  z-index: -2;
  border-radius: 10px;
}

.grouped-card:hover::after {
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

/* GROUPED 標籤定位到右上角 */
.grouped-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* 確保標籤在疊牌之上 */
}